* {
    margin: 0;
    font-size: 100%;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

.conteiner {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;;
}
.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
 header {
     background-color: blue;
     height: 800px;
 }
 .buton {
    margin-top: 40px;
    border-radius: 15px;
 }
 .navbar_li {
     margin: 0 18px;
     margin-top: 40px;
 }
 .navbar_li a {
     color: white;
     font-size: 19px;
     margin: 30px;
 }
.imgs {
    margin-top: 100px;
}
.small-circles .circle-item{
    opacity: 1;
    background-color:white;
}
.small-circles span {
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 10px;
    margin: 5px;
    background-color: white;
    float: left;
}

 @media only screen and (max-width: 480px) {
    body, .img. .conteine, .header,
    }
  }
  @media only screen and (max-width: 1024px) {
    body, .img. .conteine, .header,
    }
  }
